alabaster==1.0.0
apparmor==4.1.6
argcomplete==3.6.2
attrs==25.4.0
autocommand==2.2.2
babel==2.17.0
beautifulsoup4==4.14.3
build==1.4.0
cachetools==7.0.1
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorthief==0.2.1
coverage==7.13.4
cryptography==46.0.5
dbus-python==1.4.0
distro==1.9.0
docutils==0.22.3
evdev==1.9.3
filelock==3.24.0
gallery_dl==1.31.7
gps==3.27.5
grpcio==1.76.0
grpcio-tools==1.76.0
idna==3.11
imagesize==1.4.1
iniconfig==2.1.0
installer==0.7.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
Jinja2==3.1.6
legacy-cgi==2.6.4
lensfun==0.3.4
LibAppArmor==4.1.6
libtorrent==2.0.11
lit==21.1.8.dev0
lxml==6.0.2
Mako==1.3.10.dev0
Markdown==3.10.2
MarkupSafe==3.0.2
meson==1.10.1
moddb==0.14.0
more-itertools==10.8.0
mutagen==1.47.0
nanobind==2.11.0
nftables==0.1
nose==1.3.7
notify2==0.3.1
numpy==2.4.2
opensnitch-ui==1.7.2
OpenTimelineIO==0.18.1
packaging==26.0
pillow==12.1.1
pipx==1.8.0
pkg_resources==81.0.0
platformdirs==4.9.3
pluggy==1.6.0
polib==1.2.0
protobuf==6.33.1
protontricks==1.13.1
ProtonUp-Qt==2.15.0
psutil==7.2.2
pyaaf2==1.7.1
pyaml==24.12.0
pybind11==3.0.2
PyBluez==0.30
pycairo==1.29.0
pycparser==2.23
pycryptodomex==3.23.0
Pygments==2.19.2
PyGObject==3.54.5
pyinotify==0.9.6
PyOpenGL==3.1.10
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5_sip==12.18.0
PySide6==6.10.2
pytest==8.4.2
python-distutils-extra==2.39
python-slugify==8.0.4
pytz==2025.2
pywal==3.3.0
pyxdg==0.28
PyYAML==6.0.3
ranger-fm==1.9.4
requests==2.32.5
roman-numerals-py==3.1.0
semantic_version==2.10.0
Send2Trash==1.8.3
setuptools==82.0.0
setuptools-scm==9.2.2
shiboken6==6.10.2
shiboken6-generator==6.10.2
simplejson==3.20.2
six==1.17.0
smbus==1.1
snowballstemmer==2.2.0
soupsieve==2.8.3
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
TBB==0.2
text-unidecode==1.3
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.6.3
userpath==1.9.2
vdf==4.0
vidcutter==6.0.5.2
wheel==0.46.3
xxhash==3.6.0
yt-dlp==2026.2.21
yt-dlp-ejs==0.5.0
zstandard==0.25.0
